extends layout.pug

block content
    .container
        .main-info
            h1.main-msg
                | Let&apos;s 
                span.msg-span plan 
                | your day
            a.main-button(href="/create") Create task