doctype html
html(lang="en")
    head
        title To-Do app
    body 
        header.navbar
            h1
                a(href="/") To-Do app 
            nav.nav
                a(href="/create") Create
                a(href="/list") To-Do List

            block content