doctype html
html(lang="en")
    head
        title To-Do app
        link(rel="stylesheet", href="/static/styles.css")

    body
        
        header.header
            .navbar
                h1
                    a(href="/") To-Do app 

                nav.nav
                    a(href="/create") Create
                    a(href="/tasks") To-Do List
        
        block content


    footer
        .footer 
            p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service