extends layout.pug 

block content 
    .container 
        .task-main
            h1.task-msg All tasks 

            each task in tasks 
                .task-wrapper 
                    p.task #{ task.task } 
                    